<ul>
  <li *ngFor="let technicien of techniciens">
      <p>{{technicien.id}}</p>
      <p>{{technicien.nom}}</p>
      <p>{{technicien.prenom}}</p>
      <br/>
  </li>
</ul>
<ul>
  <li *ngFor="let ordreMission of ordresMission">
      <p>{{ordreMission.id}}</p>
      <p>{{ordreMission.dateMission}}</p>
      <p>{{ordreMission.client | json}}</p>
      <p>{{ordreMission.techniciens | json}}</p>
      <br/>
  </li>
</ul>

<ul>
  <li *ngFor="let client of clients">
    <p>{{client.id}}</p>
    <p>{{client.nom}}</p>
    <p>{{client.address}}</p>
  </li>
</ul>
<input [(ngModel)]="selectedTechnicienId">
<h2>selected technicien{{ selectedTechnicienId }}</h2>

<input [(ngModel)]="selectedOrdreMissionId">
<h2>selected technicien{{ selectedOrdreMissionId }}</h2>

<button (click)="affecter()" ></button>

