<!--ul>
  <li *ngFor="let technicien of technicien.techniciens.values()">
      <p>{{technicien.id}}</p>
      <p>{{technicien.nom}}</p>
      <p>{{technicien.prenom}}</p>
      <br/>
  </li>
</ul>
<ul>
  <li *ngFor="let ordreMission of ordreMission.ordresMission.values()">
      <p>{{ordreMission.id}}</p>
      <p>{{ordreMission.dateMission}}</p>
      <p>{{ordreMission.client | json}}</p>
      <p>{{ordreMission.techniciens | json}}</p>
      <br/>
  </li>
</ul>

<ul>
  <li *ngFor="let client of client.clients.values()">
    <p>{{client.id}}</p>
    <p>{{client.nom}}</p>
    <p>{{client.address}}</p>
  </li>
</ul>
<input [matDatepicker]="basicDatepicker">
<mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
<mat-datepicker #basicDatepicker></mat-datepicker>
<app-detail-test></app-detail-test-->
