


<!--p>Date demande</p>


  <input matInput [matDatepicker]="basicDatepicker">

  <mat-datepicker-toggle matSuffix [for]="basicDatepicker"></mat-datepicker-toggle>
  <mat-datepicker #basicDatepicker></mat-datepicker>

  <h4>Client</h4>


    <select matNativeControl required>
      <option *ngFor="let client of client.clients.values()" value="client">{{client.nom}}</option>
    </select>

    <h4>Superviseur</h4>


    <select matNativeControl required>
      <option value="volvo">Volvo</option>

    </select>


    <form class="example-form">

      <textarea matInput placeholder="Description demande"></textarea>

  </form>




    <button mat-raised-button>Valider</button-->

    <app-creation-ordre-mission></app-creation-ordre-mission>

