<div class="container">
  <header>
    <mat-toolbar>
      <button routerLink="home" mat-icon-button >
        <mat-icon>home</mat-icon>
      </button>
      <span>SMS2i</span>
      <button routerLink="creation" mat-icon-button >
        <mat-icon>post_add</mat-icon>
      </button>
      <span>nouveau ordre mission</span>


      <button routerLink="detailBon" mat-icon-button >
        <mat-icon>cruelty_free</mat-icon>
      </button>
      <span>detail Bon</span>
      <span class="spacer"></span>


      <button mat-icon-button >
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button >
        <mat-icon>info</mat-icon>
      </button>
    </mat-toolbar>
  </header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <h1>footer</h1>
  </footer>
</div>
