<mat-card>
  <mat-card-title> Creation Ordre Mission</mat-card-title>
  <mat-card-content>
    <form [formGroup]="creationOrdreForm" (ngSubmit)="onSubmit()">

      <label for="date-demande">Date Demande: </label>
      <input matInput [matDatepicker]="picker" id="date-demande" type="Date" formControlName="dateMission">
      <mat-datepicker #picker>
        <!--mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle-->
      </mat-datepicker>
      <br/>


      <label for="client">Client: </label>
      <select id="client" formControlName="client">
        <option *ngFor="let client of client$|async" [ngValue]="client">
          {{ client.nom }}
        </option>
      </select>
      <br/>

      <label for="superviseur">Superviseur: </label>
      <select id="superviseur" formControlName="superviseur">
        <option *ngFor="let superviseur of superviseur$|async" [ngValue]="superviseur">
          {{ superviseur.nom }}
        </option>
      </select>
      <br/>


      <label for="description-demande">Description Demande: </label><br>
        <textarea id="description-demande" type="text" formControlName="descriptionMission">
        </textarea>
      <br/>

      <button type="submit" [disabled]="!creationOrdreForm.valid">Valider</button>
    </form>

  </mat-card-content>
</mat-card>




