<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="creation-ordre-mission.component.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v1_7">
        <div class="v8_367">
            <div class="name"></div>
            <div class="v8_369"></div>
        </div>
        <div class="v8_376">
            <div class="v8_377">
                <div class="v8_378"></div><span class="v8_379">Creation ordre mission</span>
                <div class="v12_312">
                    <div class="v12_313"></div>
                    <div class="v12_314"></div><span class="v12_315">Date demande</span>
                    <div class="name"></div>
                </div>
                <div class="v12_316">
                    <div class="v12_317"></div>
                    <div class="v12_318"></div><span class="v12_319">Client</span>
                </div>
                <div class="v12_320">
                    <div class="v12_321"></div>
                    <div class="v12_322"></div><span class="v12_323">Superviseur</span>
                </div>
                <div class="v12_309">
                    <div class="v12_310"></div><span class="v12_311">Description demande</span>
                </div>
                <div class="name"></div>
            </div>
        </div>
    </div>
</body>

</html>