<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
  <link href="./css/main.css" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
  <div class="v1_3">
    <div class="v3_366">
      <div class="name"></div>
      <div class="v3_368"></div>
    </div>
    <div class="v3_371">
      <div class="v3_514">
        <div class="v3_515"></div>
        <div class="v3_532">
          <div class="v3_533"></div>
          <div class="v3_534"></div><span class="v3_548">Client</span>
        </div>
        <div class="v3_535">
          <div class="v3_536"></div>
          <div class="v3_537"></div><span class="v2_374">Etat</span>
        </div>
        <div class="v3_542">
          <div class="v3_543"></div>
          <div class="v3_544"></div><span class="v3_550">Superviseur</span>
        </div>
        <div class="v3_545">
          <div class="v3_546"></div>
          <div class="v3_547"></div><span class="v2_387">Date debut estimee</span>
        </div><span class="v3_529">Order mission numero</span>
        <div class="v3_551">
          <div class="v3_552"></div><span class="v3_554">Description</span>
        </div>
        <div class="v3_555">
          <div class="v3_556"></div><span class="v3_557">Reclamation Client</span>
        </div>
        <div class="v3_558">
          <div class="v3_559"></div><span class="v3_560">Objet mission</span>
          <div class="v7_122">
            <div class="v2_390"></div>
            <div class="v2_395"></div><span class="v2_399">Action</span>
          </div>
          <div class="v7_121">
            <div class="v2_391"></div>
            <div class="v2_396"></div><span class="v2_400">Reseau</span>
          </div>
          <div class="v7_120">
            <div class="v2_392"></div>
            <div class="v2_398"></div><span class="v2_401">Technologie</span>
          </div>
        </div>
        <div class="v2_379">
          <div class="v2_380"></div>
          <div class="v2_381"></div><span class="v2_386">Date demande</span>
        </div>
        <div class="v2_382">
          <div class="v2_383"></div>
          <div class="v2_384"></div><span class="v2_388">Duree estimee</span>
        </div>
        <div class="v13_306">
          <div class="v13_307"></div>
          <div class="v13_310">
            <div class="v13_311"></div>
            <div class="v13_312"></div><span class="v13_313">checklist</span>
          </div>
          <div class="v13_308"></div><span class="v13_309">Checklist</span>
        </div>
        <div class="v3_563">
          <div class="v3_564"></div>
          <div class="name"></div>
          <div class="v3_566">
            <div class="v3_567"></div>
            <div class="v3_568"></div>
          </div>
          <div class="v3_569">
            <div class="v3_570"></div>
            <div class="v3_571"></div>
          </div>
          <div class="v3_572">
            <div class="v3_573"></div>
            <div class="v3_574"></div>
          </div>
          <div class="v3_575">
            <div class="v3_576"></div>
            <div class="v3_577"></div>
          </div><span class="v3_578">Technicien</span>
        </div>
        <div class="v2_404">
          <div class="v2_405"></div>
          <div class="name"></div>
          <div class="v2_407">
            <div class="v2_408"></div>
            <div class="v2_409"></div>
          </div>
          <div class="v2_410">
            <div class="v2_411"></div>
            <div class="v2_412"></div>
          </div>
          <div class="v2_413">
            <div class="v2_414"></div>
            <div class="v2_415"></div>
          </div><span class="v2_419">Deplacment</span>
        </div>
        <div class="v2_422">
          <div class="v2_423"></div>
          <div class="v2_424"></div>
          <div class="v2_430"><span class="v2_425">Accompte</span></div>
        </div>
        <div class="v2_426">
          <div class="v2_427"></div>
          <div class="v2_428"></div><span class="v2_429">Retour accompte</span>
        </div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
      </div>
    </div>
  </div>
</body>

</html>
