<mat-card class="ordre" *ngIf="ready">
  <mat-card-header>
    <mat-card-title>Ordre Mission: {{ordreMission.id}} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="10:6" gutterSize="5px">
      <mat-grid-tile>
          <mat-grid-tile-header>Client</mat-grid-tile-header>
            {{ordreMission.client.nom}}
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>Etat</mat-grid-tile-header>
            {{ordreMission.etat}}
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>Superviseur</mat-grid-tile-header>
        {{ordreMission.superviseur.nom+" "+ordreMission.superviseur.prenom}}
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>Date demande</mat-grid-tile-header>
        {{ordreMission.dateMission|date:"d MMM, y" }}
      </mat-grid-tile>
    </mat-grid-list>
    <br>
    <mat-form-field class="designation" appearance="fill">
      <mat-label>Designation </mat-label>
      <input matInput [formControl]="designationControl" >
      <button  mat-icon-button matSuffix [disabled]="!(designationChanges)" (click)="submitDesignation()"><mat-icon >check_circle</mat-icon></button>
    </mat-form-field>
    <br>
    <button mat-button mat-stroked-button *ngIf="ordreMission.checklist == null; else checklist " (click)="selectChecklistModel()" >
      select checklist <mat-icon >add_circle</mat-icon>
    </button>
    <ng-template #checklist >
      <button mat-button mat-stroked-button [routerLink]="'/checkListDetail/'+this.ordreMission.checklist.id" >
        CheckList : {{this.ordreMission.checklist.model.nom}}
      </button>
    </ng-template>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Planning</mat-card-title>
        <span class="spacer"></span>
        <button mat-button mat-stroked-button [disabled]="!(estimationChanges)" (click)="submitEstimationChanges()">
          <mat-icon>check_circle</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="estimationControl">
          <mat-form-field>
            <mat-label>date deplacement estimee</mat-label>
            <input matInput  [matDatepicker]="dp" formControlName="date">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label> durre estimee</mat-label>
            <input matInput type="number" formControlName="duree" >
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-icon>info</mat-icon>
        <mat-card-title> Info</mat-card-title>
        <span class="spacer"></span>
        <button mat-button mat-stroked-button [disabled]="!(infoChanges)" (click)="submitInfoChanges()" >
          <mat-icon>check_circle</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="infoControl" >
          <mat-form-field class="texteArea"  appearance="fill">
            <mat-label>Description Mission</mat-label>
            <textarea matInput formControlName="description" ></textarea>
          </mat-form-field>
          <mat-form-field class="texteArea"   appearance="fill">
            <mat-label>Reclamation Client</mat-label>
            <textarea matInput formControlName="reclamation" ></textarea>
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Objet Mission</mat-card-title>
        <span class="spacer"></span>
        <button mat-button mat-stroked-button [disabled]="!objetChanges" (click)="submitObjetChanges()">
          <mat-icon>check_circle</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-grid-list cols="3" rowHeight="10:6" gutterSize="5px">
          <mat-grid-tile>
            <mat-grid-tile-header>
              <mat-form-field >
                <input matInput type="text" placeholder="actions"
                       [matAutocomplete]="autoAction"
                       [formControl]="actionSelectControl">
              </mat-form-field>
            </mat-grid-tile-header>
            <mat-autocomplete #autoAction="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let action of filteredActions | async">
                <div (click)="optionClicked($event, action)">
                  <mat-checkbox [checked]="action.selected"
                                (change)="toggleSelection(action)"
                                (click)="$event.stopPropagation()"
                                [color]="action.color">
                    {{ action.sousCategorie.titre }}
                  </mat-checkbox>
                </div>
              </mat-option>
              <mat-option (click)="addCategorie('ActionOrdre')">
                <mat-icon>add_circle</mat-icon>
                ajouter
              </mat-option>
            </mat-autocomplete>
            <mat-chip-list>
              <div *ngFor="let action of actions">
                <mat-chip *ngIf="action.selected"
                          [color]="action.color"
                          [selected]="true"
                          (removed)="toggleSelection(action)">
                  {{action.sousCategorie.titre}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
              </div>
            </mat-chip-list>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-grid-tile-header>
              <mat-form-field>
                <input matInput type="text" placeholder="reseaux"
                       [matAutocomplete]="autoReseau"
                       [formControl]="reseauSelectControl">
              </mat-form-field>
            </mat-grid-tile-header>
            <mat-autocomplete #autoReseau="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let reseau of filteredReseaux | async">
                <div>
                  <mat-checkbox [checked]="reseau.selected"
                                (change)="toggleSelection(reseau)"
                                (click)="$event.stopPropagation()"
                                [color]="reseau.color">
                    {{ reseau.sousCategorie.titre }}
                  </mat-checkbox>
                </div>
              </mat-option>
              <mat-option (click)="addCategorie('Reseau')">
                <mat-icon>add_circle</mat-icon>
                ajouter
              </mat-option>
            </mat-autocomplete>
            <mat-chip-list>
              <div *ngFor="let reseau of reseaux">
                <mat-chip *ngIf="reseau.selected"
                          [color]="reseau.color"
                          [selected]="true"
                          (removed)="toggleSelection(reseau)">
                  {{reseau.sousCategorie.titre}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
              </div>
            </mat-chip-list>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-grid-tile-header>
              <mat-form-field >
                <input matInput type="text" placeholder="technologies"
                       [matAutocomplete]="autoTechnologie"
                       [formControl]="technologieSelectControl">
              </mat-form-field>
            </mat-grid-tile-header>
            <mat-autocomplete #autoTechnologie="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let technologie of filteredTechnologies | async">
                <div>
                  <mat-checkbox [checked]="technologie.selected"
                                (change)="toggleSelection(technologie)"
                                (click)="$event.stopPropagation()"
                                [color]="technologie.color">
                    {{ technologie.sousCategorie.titre }}
                  </mat-checkbox>
                </div>
              </mat-option>
              <mat-option (click)="addCategorie('Technologie')">
                <mat-icon>add_circle</mat-icon>
                ajouter
              </mat-option>
            </mat-autocomplete>
            <mat-chip-list>
              <div *ngFor="let technologie of technologies">
                <mat-chip *ngIf="technologie.selected"
                          [color]="technologie.color"
                          [selected]="true"
                          (removed)="toggleSelection(technologie)">
                  {{technologie.sousCategorie.titre}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
              </div>
            </mat-chip-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Techniciens</mat-card-title>
        <span class="spacer"></span>
        <button mat-button mat-stroked-button add-course-btn (click)="affecterTechnicien()"> <mat-icon>add_circle</mat-icon></button>
      </mat-card-header>
      <mat-card-content>
        <mat-grid-list cols="4" rowHeight="10:6" gutterSize="5px" >
          <mat-grid-tile *ngFor="let technicien  of ordreMission.techniciens">
            <mat-grid-tile-header>
              {{technicien.nom+" "+technicien.prenom}}
            </mat-grid-tile-header>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Deplacement</mat-card-title>
        <span class="spacer"></span>
        <button mat-button mat-stroked-button (click)="ajouterDeplacement()"> <mat-icon>add_circle</mat-icon></button>
      </mat-card-header>
      <mat-card-content>
        <mat-grid-list cols="4" rowHeight="10:6" gutterSize="5px" >
          <mat-grid-tile *ngFor="let deplacement  of ordreMission.deplacements">
            <mat-grid-tile-header>
              {{deplacement.date | date}}
              <span class="spacer"></span>
              <button mat-button mat-stroked-button (click)="editDeplacement(deplacement)" >
                <mat-icon>edit</mat-icon>
              </button>
            </mat-grid-tile-header>

              {{timeFormat(deplacement.heureDebut)}} ->
              {{timeFormat(deplacement.heureFin)}}
            <mat-grid-tile-footer>
              <span class="spacer"></span>
              <button mat-button mat-stroked-button [routerLink]="'/depense/'+deplacement.id" >
                <mat-icon>paid</mat-icon>
              </button>
            </mat-grid-tile-footer>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Accompte</mat-card-title>
      <span class="spacer"></span>
      <button mat-button mat-stroked-button (click)="submitAccompteChanges()" [disabled]="!(accompteChanges&&accompteControl.valid&&retourControl.valid)">
        <mat-icon>check_circle</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>accompte</mat-label>
        <input type="number" matInput [formControl]="accompteControl" >
      </mat-form-field>
      <mat-form-field >
        <mat-label>retour</mat-label>
        <input type="number" matInput [formControl]="retourControl" >
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</mat-card-content>

</mat-card>


