<mat-card class="ordre">
  <mat-card-title>Ordre Mission</mat-card-title>
  <br>

  <mat-card-content>
  <br>
  <div class="client">
      <mat-card-title>Client</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
        <input type="text">

  </div>

  <div class="client">
    <mat-card>
      <mat-card-title>Etat</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
        <input type="text">
      </mat-card>
  </div>

  <div class="client">
    <mat-card>
       <mat-card-title>Superviseur</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
        <input type="text">
      </mat-card>

  </div>

  <div class="client">
    <mat-card>
      <mat-card-title>Date demande</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
        <input type="text">
      </mat-card>
  </div>
  <div class="client">
    <mat-card>
      <mat-card-title>Date debut estime</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
        <input type="text">
      </mat-card>

  </div>

  <div class="client">
    <mat-card>

      <mat-card-title>Duree estime</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
        <input type="text">
      </mat-card>

  </div>

  <div>
    <h1>Check List</h1>
    <mat-form-field appearance="fill">
      <mat-label>CheckList</mat-label>
      <mat-select>
        <mat-option >
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-card>
      <mat-card-title>Description</mat-card-title>
        <textarea name="ameliorer" id="ameliorer" rows="10" cols="100"></textarea>
    </mat-card>
  </div>

</mat-card-content>

</mat-card>

<div class="container">

  <mat-card class="objet">
    <h1>Objet Mission</h1>
    <div class="containers">
      <div class="object">
        <h1>Action</h1>
        <mat-form-field appearance="fill">
          <mat-label>Action</mat-label>
          <mat-select>
            <mat-option >
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br>

      <div class="object">
        <h1>Reseau</h1>
        <mat-form-field appearance="fill">
          <mat-label>Reseau</mat-label>
          <mat-select>
            <mat-option >
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br>

      <div class="object">
        <h1>Technologie</h1>
        <mat-form-field appearance="fill">
          <mat-label>Technologie</mat-label>
          <mat-select>
            <mat-option >
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card>

</div>

  <div>
    <mat-card class="recla">
      <mat-card-title>Reclamation Client</mat-card-title>
      <mat-card-content>
        <p>This card indeterminates progress bar.</p>
      </mat-card-content>
    </mat-card>
    <button mat-stroked-button class="btn">Modifier</button>

  </div>
  <br>
  <mat-card>
    <h1>Technicien</h1>
  </mat-card>


    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>


      <mat-card ><h1>Deplacement</h1> </mat-card>

      <div>
        <mat-list role="list">
          <mat-list-item role="listitem">Item 1</mat-list-item>
          <mat-list-item role="listitem">Item 2</mat-list-item>
          <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
      </div>

    <br>

    <div >
      <mat-card class="example-card">
        <mat-card-title> Accompte </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <p></p>
        </mat-card-content>
      </mat-card>
    </div>
    <br>

    <div >
      <mat-card class="example-card">
        <mat-card-title>Retour Accompte</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <p></p>
        </mat-card-content>
      </mat-card>
    </div>
    <br>

    <div >
      <button class="btns" mat-stroked-button >Valider
      </button>
    </div>
