<div class="container">
  <header>
    <mat-toolbar>
      <button routerLink="home" mat-flat-button >
        <mat-icon>home</mat-icon>
        <span>SMS2i</span>
      </button>

      <button *ngIf="role=='AGENT'" mat-flat-button routerLink="creation" >
        <mat-icon>post_add</mat-icon>
        <span>nouveau ordre mission</span>
      </button>


      <span class="spacer"></span>


      <button *ngIf="role=='ADMIN'" mat-icon-button routerLink="/admin" >
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>
  </header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <h1>footer</h1>
  </footer>
</div>



