<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Clients
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-client-list></app-client-list>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Agents administartifs
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-agnet-administratif-list></app-agnet-administratif-list>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Techniciens
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-technicien-list></app-technicien-list>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Superviseurs
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-superviseur-list></app-superviseur-list>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Categories
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-categorie-list></app-categorie-list>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Tags
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-tag-group-list></app-tag-group-list>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Materiels
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-materiel-list></app-materiel-list>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Softwares
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-software-categorie-list></app-software-categorie-list>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Models Checklist
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Categories Depenses
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
