
<mat-card *ngIf="ready">
  <mat-card-header>
    <mat-card-title>Checklist</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Materiel</mat-card-title>
        <span class="spacer"></span>
        <button mat-stroked-button (click)="addMaterial()" > <mat-icon>add_circle</mat-icon></button>
      </mat-card-header>
      <mat-card-content>
        <mat-grid-list cols="4" rowHeight="4:3" gutterSize="5px">
          <mat-grid-tile *ngFor="let material of checklist.model.materiels">
            <mat-grid-tile-header>{{material.id}}</mat-grid-tile-header>
            {{material.label}}
          </mat-grid-tile>
          <mat-grid-tile *ngFor="let material of checklist.materiels">
            <mat-grid-tile-header>
              {{material.id}}
              <span class="spacer"></span>
              <button mat-stroked-button (click)="deleteMateriel(material)" > <mat-icon>clear </mat-icon></button>
            </mat-grid-tile-header>
            {{material.label}}
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>software</mat-card-title>
        <span class="spacer"></span>
        <button mat-stroked-button [disabled]="uncheckedCategorie.length>0" (click)="addSoftware()">
          <mat-icon>add_circle</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-grid-list cols="4" rowHeight="6:5" gutterSize="5px">
          <mat-grid-tile *ngFor="let software of checklist.model.softwares">
            <mat-grid-tile-header>
              {{software.softwareLabel}}
            </mat-grid-tile-header>
            {{software.softwareVersion}} <br>
            {{software.categorie}}
          </mat-grid-tile>
          <mat-grid-tile *ngFor="let software of checklist.softwares">
            <mat-grid-tile-header>
              {{software.softwareLabel}}
              <span class="spacer"></span>
              <button mat-stroked-button (click)="deleteSoftware(software)" > <mat-icon>clear </mat-icon></button>
            </mat-grid-tile-header>
            {{software.softwareVersion}} <br>
            {{software.categorie}}
          </mat-grid-tile>
          <div *ngIf="uncheckedCategorie.length>0">
            <mat-grid-tile *ngFor="let categorie of uncheckedCategorie">
              <mat-grid-tile-header>
                {{categorie.categorie}}
                <span class="spacer"></span>
                <button mat-stroked-button [disabled]="!categorie.input.valid" (click)="selectSoftware(categorie.input)" > <mat-icon>check_circle</mat-icon> </button>
              </mat-grid-tile-header>
              <mat-select [formControl]=categorie.input >
                <mat-option *ngFor="let software of categorie.softwares" [value]="software">{{software.softwareLabel+"/"+software.softwareVersion}}</mat-option>
              </mat-select>
            </mat-grid-tile>
          </div>



        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
