<mat-card>
  <mat-card-header>
    <mat-card-title>Action Ordre Mission</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-sous-categorie-list [categorie]="categories.ACTION_ORDRE"></app-sous-categorie-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Technologie</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-sous-categorie-list [categorie]="categories.TECHNOLOGIE" ></app-sous-categorie-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Keywords</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-sous-categorie-list [categorie]="categories.KEYWORDS"></app-sous-categorie-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Action Rapport</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-sous-categorie-list [categorie]="categories.ACTION_RAPPORT"></app-sous-categorie-list>
  </mat-card-content>
</mat-card>
