<mat-form-field appearance="fill">
  <mat-label>software</mat-label>
  <mat-select [(value)]="selected">
    <mat-optgroup *ngFor="let categorie of categories" [label]="categorie.categorie">
      <mat-option *ngFor="let software of categorie.softwares" [value]="software">
        {{software.softwareLabel+"/"+software.softwareVersion}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
<button mat-button [mat-dialog-close]="null">Annuller</button>
<button mat-button [mat-dialog-close]="selected" cdkFocusInitial>Ok</button>
