* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_3 {
  width: 100%;
  height: 2159px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_366 {
  width: 100%;
  height: 58px;
  background: rgba(232,232,232,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3_368 {
  width: 55px;
  height: 58px;
  background: url("../images/v3_368.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_371 {
  width: 100%;
  height: 2101px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 141px;
  overflow: hidden;
}
.v3_514 {
  width: 100%;
  height: 2066px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 41px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v3_515 {
  width: 100%;
  height: 58px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_532 {
  width: 226px;
  height: 85px;
  background: url("../images/v3_532.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 29px;
  overflow: hidden;
}
.v3_533 {
  width: 226px;
  height: 85px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_534 {
  width: 226px;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_548 {
  width: 33px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 24px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3_535 {
  width: 226px;
  height: 85px;
  background: url("../images/v3_535.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 294px;
  overflow: hidden;
}
.v3_536 {
  width: 226px;
  height: 85px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_537 {
  width: 226px;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_374 {
  width: 42px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 27px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3_542 {
  width: 226px;
  height: 85px;
  background: url("../images/v3_542.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 559px;
  overflow: hidden;
}
.v3_543 {
  width: 226px;
  height: 85px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_544 {
  width: 226px;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_550 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 36px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3_545 {
  width: 226px;
  height: 85px;
  background: url("../images/v3_545.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 294px;
  overflow: hidden;
}
.v3_546 {
  width: 226px;
  height: 85px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_547 {
  width: 226px;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_387 {
  width: 112px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 44px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3_529 {
  width: 125px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 29px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3_551 {
  width: 100%;
  height: 154px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 353px;
  left: 29px;
  overflow: hidden;
}
.v3_552 {
  width: 100%;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v3_554 {
  width: 65px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3_555 {
  width: 100%;
  height: 154px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 766px;
  left: 29px;
  overflow: hidden;
}
.v3_556 {
  width: 100%;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v3_557 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3_558 {
  width: 100%;
  height: 154px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 549px;
  left: 29px;
  overflow: hidden;
}
.v3_559 {
  width: 100%;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v3_560 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v7_122 {
  width: 283px;
  height: 41px;
  background: url("../images/v7_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 19px;
  overflow: hidden;
}
.v2_390 {
  width: 283px;
  height: 41px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v2_395 {
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 251px;
}
.v2_399 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 17px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v7_121 {
  width: 283px;
  height: 41px;
  background: url("../images/v7_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 362px;
  overflow: hidden;
}
.v2_391 {
  width: 283px;
  height: 41px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v2_396 {
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 249px;
}
.v2_400 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 21px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v7_120 {
  width: 283px;
  height: 41px;
  background: url("../images/v7_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 706px;
  overflow: hidden;
}
.v2_392 {
  width: 283px;
  height: 41px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v2_398 {
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 247px;
}
.v2_401 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v2_379 {
  width: 226px;
  height: 85px;
  background: url("../images/v2_379.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 226px;
  left: 29px;
  overflow: hidden;
}
.v2_380 {
  width: 226px;
  height: 85px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_381 {
  width: 226px;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_386 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 42px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v2_382 {
  width: 226px;
  height: 85px;
  background: url("../images/v2_382.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 559px;
  overflow: hidden;
}
.v2_383 {
  width: 226px;
  height: 85px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_384 {
  width: 226px;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_388 {
  width: 83px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 57px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_306 {
  width: 226px;
  height: 85px;
  background: url("../images/v13_306.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 812px;
  overflow: hidden;
}
.v13_307 {
  width: 226px;
  height: 85px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_310 {
  width: 226px;
  height: 43px;
  background: url("../images/v13_310.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 0px;
  overflow: hidden;
}
.v13_311 {
  width: 226px;
  height: 43px;
  background: url("../images/v13_311.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_312 {
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 201px;
}
.v13_313 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 14px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_308 {
  width: 226px;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_309 {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 57px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3_563 {
  width: 100%;
  height: 504px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 962px;
  left: 29px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v3_564 {
  width: 100%;
  height: 58px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3_566 {
  width: 226px;
  height: 177px;
  background: url("../images/v3_566.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 271px;
  overflow: hidden;
}
.v3_567 {
  width: 226px;
  height: 177px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_568 {
  width: 226px;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_569 {
  width: 226px;
  height: 177px;
  background: url("../images/v3_569.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 513px;
  overflow: hidden;
}
.v3_570 {
  width: 226px;
  height: 177px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_571 {
  width: 226px;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_572 {
  width: 226px;
  height: 177px;
  background: url("../images/v3_572.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 755px;
  overflow: hidden;
}
.v3_573 {
  width: 226px;
  height: 177px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_574 {
  width: 226px;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_575 {
  width: 226px;
  height: 177px;
  background: url("../images/v3_575.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 29px;
  overflow: hidden;
}
.v3_576 {
  width: 226px;
  height: 177px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_577 {
  width: 226px;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_578 {
  width: 143px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 29px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v2_404 {
  width: 100%;
  height: 303px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1517px;
  left: 29px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v2_405 {
  width: 100%;
  height: 58px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v2_407 {
  width: 226px;
  height: 177px;
  background: url("../images/v2_407.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 271px;
  overflow: hidden;
}
.v2_408 {
  width: 226px;
  height: 177px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_409 {
  width: 226px;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_410 {
  width: 226px;
  height: 177px;
  background: url("../images/v2_410.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 513px;
  overflow: hidden;
}
.v2_411 {
  width: 226px;
  height: 177px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_412 {
  width: 226px;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_413 {
  width: 226px;
  height: 177px;
  background: url("../images/v2_413.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 755px;
  overflow: hidden;
}
.v2_414 {
  width: 226px;
  height: 177px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_415 {
  width: 226px;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_419 {
  width: 143px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 29px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v2_422 {
  width: 226px;
  height: 85px;
  background: url("../images/v2_422.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1871px;
  left: 29px;
  overflow: hidden;
}
.v2_423 {
  width: 226px;
  height: 85px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_424 {
  width: 226px;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_430 {
  width: 78px;
  height: 35px;
  background: url("../images/v2_430.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 14px;
  overflow: hidden;
}
.v2_425 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v2_426 {
  width: 226px;
  height: 85px;
  background: url("../images/v2_426.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1871px;
  left: 300px;
  overflow: hidden;
}
.v2_427 {
  width: 226px;
  height: 85px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_428 {
  width: 226px;
  height: 41px;
  background: rgba(245,237,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_429 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 24px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
