<!--nav>
  <ul>
    <li><a routerLink="" >Home</a></li>
    <li><a routerLink="details" >details</a></li>
    <li><a routerLink="creation">nouveau</a></li>
  </ul>
</nav-->

<mat-toolbar class="navbar">
  <button routerLink="" mat-icon-button >
    <mat-icon>home</mat-icon>
  </button>
  <span>SMS2i</span>
  <button routerLink="creation" mat-icon-button >
    <mat-icon>post_add</mat-icon>
  </button>
  <span>nouveau ordre mission</span>
  <button routerLink="details" mat-icon-button >
    <mat-icon>cruelty_free</mat-icon>
  </button>
  <span>details</span>
  <span class="spacer"></span>
  <button mat-icon-button >
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button >
    <mat-icon>info</mat-icon>
  </button>
</mat-toolbar>
